.carousel-services {
  position: relative;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 -40px;
  }
  &__wrapper {
    @media screen and (min-width: 768px) {
      overflow: hidden;
    }
  }
  &__list {
    position: relative;
    display: none;
    @media screen and (min-width: 768px) {
      margin: 0 -13px;
    }
  }
  .slick-list {
    @media screen and (max-width: 767px) {
      transform: none!important;
      overflow: visible!important;
    }
  }
  .slick-track {
    display: flex;
    @media screen and (max-width: 767px) {
      width: auto!important;
      flex-wrap: wrap!important;
      transform: none!important;
    }
    &:before,
    &:after {
      display: none;
    }
  }
  .slick-slide {
    float: none;
    display: flex;
    flex: 0 0 auto;
    @media screen and (max-width: 767px) {
      width: 100%!important;
      display: none!important;
      margin-top: 15px!important;
    }
    &:nth-child(-n+3) {
      @media screen and (max-width: 767px) {
        display: flex!important;
      }
    }
    & > div {
      flex: 0 0 auto;
      display: flex;
      width: 100%;
    }
  }
  .slick-cloned {
    @media screen and (max-width: 767px) {
      display: none!important;
    }
  }
  &__item {
    flex: 0 0 auto;
    width: 100%;
    display: flex!important;
    @media screen and (min-width: 768px) {
      padding: 0 15px;
    }
  }
  .slick-arrow {
    svg {
      fill: $color-white;
    }
  }
}