.carousel-cities {
  overflow: hidden;
  padding-top: 35px;
  position: relative;
  margin: 0 -15px;
  @media screen and (min-width: 990px) {
    padding-top: 50px;
    margin: 0;
  }
  .slick-list {
    padding: 0 15px;
    @media screen and (min-width: 990px) {
      padding: 0;
    }
  }
  &__list {
    display: none;
    position: relative;
    margin: 0 -15px;
    @media screen and (min-width: 600px) {
      margin: 0 -25px;
    }
  }
  &__slide {
    display: block!important;
    padding: 0 15px;
    width: 200px!important;
    @media screen and (min-width: 600px) {
      padding: 0 25px;
      width: 100%!important;
    }
  }
  &__cities-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__city {
    font-size: 13px;
    line-height: 21px;
    @media screen and (min-width: 600px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__city-link {
    color: $color-black;
    text-decoration: none;
    &:hover,
    &:active {
      color: $color-green;
      display: block;
    }
  }
  &__arrows {
    display: flex;
    width: 60px;
    margin: 0 auto 0;
    justify-content: space-between;
    .slick-arrow {
      position: relative;
      top: 0;
      margin-top: 36px;
      width: 9px;
      height: 16px;
      display: block;
    }
  }
}