.section-header {
  display: flex;
  position: relative;
  margin-right: -30px;
  align-items: center;
  padding-bottom: 20px;
  &__title {
    flex: 1 1 auto;
    padding-right: 30px;
    margin: 0 0 10px;
    text-transform: uppercase;
    font: $bold 28px $font;
    color: #353535;
  }
  &__link-block {
    flex: 0 0 auto;
    padding-right: 60px;
    font-size: 18px;
    line-height: normal;
    text-transform: uppercase;
    font-weight: $bold;
    margin: 0 30px 10px 0;
  }
  &__link {
    color: $color-green;
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}