.about {
  &__cover {
    padding-top: 30px;
    padding-bottom: 45px;
    @media screen and (min-width: 600px) {
      padding-top: 50px;
      padding-bottom: 65px;
    }
  }
  &__carousel {
    overflow: hidden;
  }
  &__list {
    position: relative;
    margin: 0 -15px;
    display: none;
  }
  &__slide {
    display: block!important;
    padding: 0 15px;
  }
  .slick-dots {
    padding-top: 23px;
    @media screen and (min-width: 600px) {
      padding-top: 31px;
    }
  }
}