.header {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(217, 217, 217, 0.15);
  backdrop-filter: blur(15px);
  width: 100%;
  z-index: 100;
  &__cover {
    display: flex;
    align-items: center;
    height: 80px;
    @media screen and (min-width: 600px) {
      height: 120px;
    }
  }
  &__logo {
    flex: 0 0 auto;
  }
  &__logo-icon {
    fill: $color-white;
    width: 48px;
    height: 48px;
    @media screen and (min-width: 600px) {
      width: 75px;
      height: 75px;
    }
  }
  &__content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media screen and (min-width: 600px) {
      position: relative;
      margin-right: -48px;
    }
  }
  &__nav {
    flex: 1 1 auto;
    display: none;
    @media screen and (min-width: 600px) {
      padding: 0 48px;
    }
    @media screen and (min-width: 990px) {
      display: block;
    }
  }
  &__nav-list {
    justify-content: center;
    @media screen and (min-width: 1200px) {
      justify-content: flex-end;
    }
  }
  &__nav-link {
    color: $color-white;
  }
  &__social {
    flex: 0 0 auto;
    display: none;
    @media screen and (min-width: 600px) {
      padding-right: 48px;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__social-list {
    margin: 0 0 0 -28px;
    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
  &__social-item {
    padding-right: 0;
    padding-left: 28px;
  }
  &__social-icon {
    fill: $color-white;
  }
  &__sub-nav {
    flex: 0 0 auto;
    @media screen and (min-width: 600px) {
      margin-right: 48px;
    }
  }
  &__sub-nav-button {
    div {
      background: $color-white;
    }
  }
  &__phone {
    flex: 0 0 auto;
    display: none;
    @media screen and (min-width: 600px) {
      margin-right: 48px;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__phone-link {
    color: $color-white;
  }
  &__phone-icon {
    fill: $color-white;
  }
}